/*TOP*/
body {
    font-family: "Cairo", sans-serif;
    background-color: #ffffff;

}

.carousel-nav-center {
    position: relative;
    color: #ffffff;
    
}

.carousel-nav-center .owl-nav button i {
    font-size: 3rem;
}

.carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
}

.carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-item.active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.hero-slide-item {
    padding-top: 34%;
    position: relative;
    overflow: hidden;
    right: 10px;
}

.hero-slide-item img {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
}

.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
}

/*Kategori pilihan*/

.container {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}
.category-section, .recommendation-section {
    margin-bottom: 20px;
}
.category-section h2, .recommendation-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
}
.categories {
    display: flex;
    justify-content: center;
    gap: 50px;
    overflow-x: auto;
}
.category {
    flex: 0 0 auto;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.category img {
    width: 100%;
    border-radius: 10px;
}
.category:hover {
    background-color: #555;
}
.category.active {
    background-color: #000;
}

/*Rekomendasi*/

.recommendations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 35px;

}
.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
.product-card img {
    width: 100%;
    border-radius: 10px;
}
.product-info {
    margin-top: 10px;
}
.product-info h3 {
    font-size: 1em;
    margin: 5px 0;
}
.product-info p {
    margin: 5px 0;
    color: #888;
}
.product-info .price {
    font-size: 1.2em;
    color: #000;
}
.product-info .rating {
    color: #f39c12;
}

/*Muat lebih banyak*/

.load-more {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
}

.load-more button {
    background-color:#222D3C;
    color: #fff;
    border: none;
    padding: 20px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.load-more button:hover {
    background-color:#FCBF49;
}

/*Harus Berbelanja di Bekas.id*/
.container-opsi {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222d3c;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
}
.header img {
    border-radius: 8px;
    width: 150px;
    height: auto;
}
.header .text {
    flex: 1;
    margin-left: 20px;
}
.header .text h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}
.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.feature {
    text-align: center;
    flex: 1;
}
.feature i {
    font-size: 36px;
    color: #333;
}
.feature p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #333;
}
.section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.section h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}
.section p {
    margin: 0;
    font-size: 16px;
    color: #666;
}