body {  
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Breadcrumb */
.breadcrumb {
    padding: 10px 20px;
    background-color: #f7f7f7;
    font-size: 14px;
    color: #555;
}
.breadcrumb a {
    color: #555;
    text-decoration: none;
}
.breadcrumb a:hover {
    text-decoration: underline;
}


/* container antara sidebar dan main-content */
.container {
    display: flex; /* Menggunakan flexbox untuk menampilkan filter dan produk berdampingan */
    padding: 20px;
}

/* sidebar kategori */
.filter {
    width: 20%; /* Filter occupies 20% of the container */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Space between filter and products */
}
.filter li{
    text-decoration: none;
}

/* main-content */
.products {
    width: 80%; /* Products occupy 80% of the container */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1; /* Pastikan aspect ratio selalu 1:1 */
    overflow: hidden;
    background-color: #f9f9f9;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Memastikan gambar selalu proporsional */
}

.product-info h3 {
    font-size: 16px;
    color: #222d3c;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
    text-align: left;
}

.product-info p {
    font-size: 0.9rem;
    color: #666;
    text-align: left;
    margin-top: 0;
}

.price {
    font-size: 16px;
    color: #222d3c;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
}



/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Menumpuk filter dan produk secara vertikal */
    }
    .filter, .products {
        width: 100%; /* Lebar penuh untuk keduanya */
    }
    .product-item {
        width: calc(50% - 20px); /* Dua item per baris */
    }
}

@media (max-width: 480px) {
    .product-item {
        width: 100%; /* Satu item per baris */
    }
}

@media (max-width: 768px) {
    .product-item {
        width: calc(50% - 20px); /* Dua item per baris */
    }
}

@media (max-width: 480px) {
    .product-item {
        width: 100%; /* Satu item per baris */
    }
}